{% extends 'base/card_template.html' %}
{% load static %}

{% block cardhead %} Click the card to turn it over {% endblock %}


{% block cardbody %}

<div class="flipper" id="flipper" >
    <div class="flip-card" id="myCard">
        <div id="myCardContent">
            some text
        </div>
    </div>
</div>

    <button id="get-new" class="btn btn-outline-primary btn-lg  col-12 dict-btn bigfont">next card</button>

{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{% static 'main/js/card.js' %}"></script>
    <script>

    var ajaxURL = '{% url "get-card" %}';
    $('#get-new').on('click', function(){ getCard(ajaxURL) })
    $(document).ready(getCard(ajaxURL));

    document.addEventListener( 'keyup', event => {
        if( event.code === 'Enter' ){
            flip();
        };
        if (event.code === 'Space' ) {
            getCard(ajaxURL
            );
        };
      });


    </script>

{% endblock %}