{% extends 'base/card_template.html' %}
{% load static %}
{% block cardhead %} Choose correct answ {% endblock %}


{% block cardbody %}

<p id="exercise">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>


<div class="container">

    <button class="submitAnsw"></button>
<button class="submitAnsw"></button>
<button class="submitAnsw"></button>
<button class="submitAnsw"></button>


</div>

{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'main/js/choose.js' %}"></script>
    <script>
    var ajaxURL = '{% url "get-choose-task" %}';
    var data = {"lang": "{{ lang }}", "spec":"{{ spec }}"}

    $(document).ready(getTask(ajaxURL, data));


    $('.submitAnsw').on('click', function () {

        if ( $(this).text() == answer ) {
        alert('Great!');
    } else {
        alert('Wrong answer.\nCorrect: ' + answer)

    }

    getTask(ajaxURL, data);
})
    </script>

{% endblock %}