{% extends 'base/card_template.html' %}
{% load static %}
{% block title %}{{ entry.word }}{% endblock %}

{% block cardhead %}

<h2><b>{{ entry.word }}</b> ({{ entry.pos }}) - {{ entry.translation }}</h2>
{% endblock %}


{% block cardbody %}
<div style="text-align: center; font-size: 20px">

<div class="wrapper">
    <p>{{ entry.transcription }}</p>
    <input type="image" width="4%" src="{% static 'main/img/soundbutton.png' %}" onclick="document.getElementById('audiotag').play();">
</div>

<p>{{ eng|safe }}</p>
<p>{{ ru|safe }}</p>

</div>
<audio id="audiotag" src="{% static 'main/audio/'%}{{ entry.word }}.mp3"></audio>

{% endblock %}