{% extends 'base/card_template.html' %}
{% load static %}
{% block cardhead %} Translate {% endblock %}


{% block cardbody %}

<p id="exercise"></p>
<form class="form" id="answForm">
    <div class="input-group" id="submitAnsw">
      <input type="text" class="form-control" id="answer" autocomplete="off">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="submit-answ" >OK</button>
      </span>
    </div>
</form>



{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="{% static 'main/js/translate.js' %}"></script>
    <script>
    var ajaxURL = '{% url "get-translate-task" %}';
    var data = {"lang": "{{ lang }}"}
    console.log(data)

    $(document).ready(getTask(ajaxURL, data));
    $("#answForm").submit(function(){
        checkAnsw();
        getTask(ajaxURL, data);
        return false;})

    $('#submit-answ').on('click', function(){
        checkAnsw();
        getTask(ajaxURL, data);
        return false;})
    </script>

{% endblock %}

