{% extends 'base/card_template.html' %}

{% block cardhead %} Translate {% endblock %}


{% block cardbody %}

<p id="exercise">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</p>
<form class="form" id="answForm">
    <div class="input-group" id="submitAnsw">
      <input type="text" class="form-control" id="answer" autocomplete="off">
      <span class="input-group-btn">
      <button class="btn btn-default" type="button" id="submit-answ" >OK</button>
      </span>
    </div>
</form>



    <script>

        var answer;

        function getTask(){
            $.ajax({
            method: "GET",
            dataType: "json",
                data: {"lang": "{{ lang }}"},
            url: '{% url "get-translate-task" %}',
            success: function(data){
                $('#exercise').empty().append(data['task']);
                answer = data['answer']
            }
        })
        }

        $(document).ready(getTask());

        $('#submit-answ').on('click', checkAnsw)
        $("#answForm").submit(function(){checkAnsw(); return false;})

        function checkAnsw (){

            if ( answer.includes($('#answer').val()) ) {
                alert('Great!');
            } else {
                alert('Wrong answer.\nCorrect: ' + answer)

            }
            getTask();
            $('#answForm')[0].reset();
        }

    </script>

{% endblock %}