<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/bootstrap-5.0.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/colors.css' %}">

<!--    ПОДКЛЮЧАЕТСЯ ТОЛЬКО В ХЕДЕ-->
</head>

<body>
<div class="my-footer-fixer">


<div class="wrapper nav-wrap sticky-top">
    <nav class="navbar navbar-expand-md navbar-light my-nav">
        <div class="d-flex justify-content-between mobile-width-100">
            <div class="fluid" id="search">
                <form class="d-flex"  action="{% url 'live-search' %}" id="myForm">
                    <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search"
                           id="myInput"  name="word" autocomplete="off"  >
                    <button class="btn btn-outline-light ml-1 me-1" type="button" id="searchButton">Поиск</button>
                </form>
                <div  id="mySuggestions"></div>
            </div>
          <button class="navbar-toggler bg-light ml-2" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
          </button>
          </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="">
            <a class="nav-link my-nav-link"  href="{% url 'index' %}">СЛОВАРЬ</a>
            <a class="nav-link my-nav-link"  href="{% url 'exercises' %}">ТРЕНАЖЕР</a>
        </div>
    </nav>
</div>


{% block content%}
{% endblock %}










<a href="#"  class="back-to-top-btn">


<div class="arrow-7">
    <span></span>
    <span></span>
    <span></span>
</div>

</a>













</div>  <!--закрыт my-footer-fixer-->
<footer class="text-center text-lg-start mt-5 my-footer"  >
    <div class="text-center p-4" > Copyright
    </div>
</footer>


</body>



<script src="{% static 'main/bootstrap-5.0.1/js/bootstrap.js' %}"></script>
<script src="{% static 'main/js/jquery 3.6.0.js' %}"></script>
<script src="{% static 'main/js/jquery-UI.js' %}"></script>

<script type="text/javascript" src="{% static 'main/js/livesearch.js' %}"></script>
<script>
          $('#myInput').on('keyup', function (){
            let pattern = this.value;
            liveSearch("{% url "live-search" %}", "{% url 'entry' %}" , pattern);
    })
</script>

<script type="text/javascript" src="{% static 'main/js/back-to-top-btn.js' %}"></script>

{% block scripts %}
{% endblock %}














